doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css') 
    link(rel='stylesheet', href='/stylesheets/style.css') 
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/faye.js')
    :coffeescript
      $(document).ready ->
        window.resizeSmiles = ( x ) ->
          $("svg.smile .main").attr "transform", "scale( #{ x } )"
        window.silent = ->
          $(".speak").toggle( "unused" )      
        faye = new Faye.Client "/faye" 
        faye.subscribe "/update/posts", ( msg ) ->
          jQuery.ajax
            url: "/post/#{msg}"
            contentType: "text/html"
            success: ( data ) ->
              $("#posts").prepend data
              $("#newPost .bubble").val "" 
              $("#newPost .speak").addClass( "unused" )
        $("#saySomething").click -> $("#newPost .speak").toggleClass( "unused" )
        $("#sendPost").click ->
          smile = saveSmile()
          smile.text = $("#newPost .speak textarea").val() if not $("#postText.speak").hasClass("unused")
          console.log smile
          $.ajax 
            url: "/post"
            type: "POST"
            data:
              smile: smile
    include head 
    -if ( user && user.is_author )
      #newPost.post
        .container
          include smileEditor
    include timeAxis
