doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css') 
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    :coffeescript
      $(document).ready ->
        $("#saySomething").click -> $("#speak").toggleClass( "using" )
  body
    include head 
    -if ( user && user.is_author )
      #postSmile
        include smileEditor  
        include smile
      button#saySomething Speak!
      #speak
        textarea Hallo Welt
    #posts
      each post in posts
        .post
          p.text= post.value.text
          p.time= post.value.time
