doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include head  
    -if ( user && user.is_author ) 
      form#newPostForm( action="/post", method="POST", name="blog_post"  )
        textarea#newPost(name='blog_post[text]') write something
        button#commitPost Commit
    #posts
      each post in posts
        .post
          p= post.value.text
          p= post.value.time
