.post
  - var smile = (post.value && post.value.smile) || post.smile ;
  include smile
  - if ( typeof smile.text !== 'undefined' )
    .speak
     svg.arrow
       polyline( stroke="black", stroke-width=2, fill="white", points="63,40 0,0 63,60")
     .bubble= smile.text
.cleafix
