:coffeescript
  $(document).ready ->
    timeline = yes
    $("button.toggle").click ->
      $("#posts.timeline").toggleClass("days")
      silent()
      timeline = not timeline
      resizeSmiles if timeline then 300 else 40
.row
#posts.timeline
  - var last_year = ""
  - var last_date = ""
  - var last_month = ""
  - var last_day = ""
  - var last_hour = ""
  - var last_minute = ""
  - var i = 0
  - while  ( i < posts.length )
    - var post = posts[i]
    - var time = (post.value && post.value.time && new Date(post.value.time) ) || new Date( post.time );
    - var changes = ""
    - var year = time.getUTCFullYear()
    - var month = time.getUTCMonth()
    - var date = time.getUTCDate()  
    - if (  date !== last_date || month !== last_month || year !== last_year )
      .row
        h2.date= date + "." + ( month + 1 ) + "." + year
    include post 
    - ++i;
